@import '/home/mrtn/.config/eww/eww.scss';

tooltip.background {
  background-color: rgba($background, 1);
  font-size: 18;
  border-radius: 8px;
}

tooltip label {
  margin: 3px;
}

.layout-box {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-radius: 1.5rem;
  color: rgba($foreground, 1);
  background-color: rgba($background, 1)
}

.home-symbol {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8rem;
  min-width: 2rem;
  min-height: 1.8rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.home-symbol {
  background-image: url("./images/home.svg");
  padding-left: 1rem;
}

.bat-box {
  padding-right: 0em;
}

.bat-sym {
  font-size: 1.5em;
  padding-right: 2rem;
}

.muted-sym,
.bat-txt {
  font-size: 1.2em;
}

.time {
  font-size: 1.2em;
}

.audio-sym,
.bright-sym {
  margin: 0 .5em 0 0;
  font-size: 1.2em;
}

.network-sym {
  margin: 0 .5em 0 0;
  font-size: 1.1em;
}

.network-box,
.audio-box,
.bright-box {
  font-size: 1.2em;
  margin: 0 1.1em 0 0em;
}

.workspace {
  padding: 10px 10px;
  border: none;
  opacity: .3;
}

.ws_exists {
  opacity: 1;
}

.ws_active {
  font-size: 1.1em;
  color: rgba($active, 1);
  opacity: 1;
}

.audio_slide trough highlight,
.bright_slide trough highlight {
  background-color: $sliders;
  border-radius: 1rem;
}

.audio_slide {
  margin-left: .4em;
}

.audio_slide trough, 
.bright_slide trough {
  background-color: $foreground;
  border-radius: 1rem;
  min-height: 1em;
  min-width: 5em;
  margin-left: .5em;
}
