@import '/home/mrtn/.config/eww/eww.scss';

tooltip.background {
  background-color: rgba($background, 1);
  border-radius: .5rem;
  font-size: 1.1rem;
}

tooltip label { margin: 3px; }

.hidden {
  opacity: 0;
}

.bar {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 1.5rem;
  color: rgba($foreground, 1);
  background-color: rgba($background, 1)
}

.bar-item {
  margin-left: .5rem;
  margin-right: .5rem;
}

.bar-text { font-size: 1.2em; }

.bar-home-symbol,
.bar-net_wired-symbol,
.bar-net_wifi-symbol,
.bar-net_none-symbol,
.bar-speaker2-symbol,
.bar-speaker1-symbol,
.bar-speaker0-symbol,
.bar-speakerx-symbol,
.bar-blight-symbol,
.bar-bat-hover,
.bar-bat0-symbol,
.bar-bat1-symbol,
.bar-bat2-symbol,
.bar-bat3-symbol,
.bar-bat4-symbol,
.bar-batc-symbol {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  min-width: 2rem;
  min-height: 2rem;
}

.bar-home-symbol {
  background-image: url("./images/home.svg");
  background-size: 2rem;
}

.bar-net_wired-symbol { background-image: url("./images/net_wired.svg"); }
.bar-net_wifi-symbol { background-image: url("./images/net_wifi.svg"); }
.bar-net_none-symbol { background-image: url("./images/net_none.svg"); }

.bar-speaker2-symbol { background-image: url("./images/speaker2.svg"); }
.bar-speaker1-symbol { background-image: url("./images/speaker1.svg"); }
.bar-speaker0-symbol { background-image: url("./images/speaker0.svg"); }
.bar-speakerx-symbol { background-image: url("./images/speakerx.svg"); }
.bar-blight-symbol { background-image: url("./images/brightness.svg"); }

// TODO: Battery icon min-width too small if battery < 10%
.bar-bat-hover,
.bar-bat0-symbol,
.bar-bat1-symbol,
.bar-bat2-symbol,
.bar-bat3-symbol,
.bar-bat4-symbol,
.bar-batc-symbol {
  background-size: 1.8rem;
}

.bar-bat0-symbol { background-image: url("./images/bat0.svg"); }
.bar-bat1-symbol { background-image: url("./images/bat1.svg"); }
.bar-bat2-symbol { background-image: url("./images/bat2.svg"); }
.bar-bat3-symbol { background-image: url("./images/bat3.svg"); }
.bar-bat4-symbol { background-image: url("./images/bat4.svg"); }
.bar-batc-symbol { background-image: url("./images/batc.svg"); }

.bar-workspace {
  opacity: .3;
}

.bar-ws_exists {
  opacity: 1;
}

.bar-ws_active {
  font-size: 1.1em;
  color: rgba($active, 1);
  opacity: 1;
}

.bar-audio_slide trough highlight,
.bar-blight_slide trough highlight {
  background-color: $sliders;
  border-radius: 1rem;
}

.bar-audio_slide trough, 
.bar-blight_slide trough {
  background-color: $foreground;
  border-radius: 1rem;
  min-height: 1em;
  min-width: 5em;
}
