@import '/home/mrtn/.config/eww/eww.scss';

* { all: unset; }

.profile,
.slider,
.time,
.weather,
.shutdown,
.reboot,
.lock,
.sleep,
.logout {
  border-radius: 1rem;
  background-color: $background;
  border: .5px solid $base07;
  margin: .5rem;
}

.profile {
  padding-top: 2rem;
  min-width: 20rem;
  min-height: 24rem;
}

.profile-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  background-image: url("./images/pb.png");
}

.profile-text {
  padding-top: 3rem;
  font-size: 3rem;
  color: $foreground;
}

.profile-subtext {
  font-size: 1.5rem;
  color: $base04;
}

.hover-text {
}

.hidden {
  opacity: 0;
}

.slider {
  padding: 2.15rem;
}

.speaker2-symbol,
.speaker1-symbol,
.speaker0-symbol,
.speakerx-symbol,
.mic-symbol,
.micx-symbol,
.brightness-symbol,
.hover-symbol {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8rem;
  min-width: 2rem;
  min-height: 1.8rem;
  margin-right: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.speaker2-symbol { background-image: url("./images/speaker2.svg"); }
.speaker1-symbol { background-image: url("./images/speaker1.svg"); }
.speaker0-symbol { background-image: url("./images/speaker0.svg"); }
.speakerx-symbol { background-image: url("./images/speakerx.svg"); }
.mic-symbol { background-image: url("./images/mic.svg"); }
.micx-symbol { background-image: url("./images/micx.svg"); }
.brightness-symbol { background-image: url("./images/brightness.svg"); }

.db-scale_mic trough highlight,
.db-scale_audio trough highlight,
.db-scale_blight trough highlight {
	border-radius: 1rem;
}

.db-scale_mic trough highlight { background-color: $sliders; }
.db-scale_audio trough highlight { background-color: $sliders; }
.db-scale_blight trough highlight { background-color: $sliders; }

.db-scale_mic trough,
.db-scale_audio trough,
.db-scale_blight trough {
    background-color: $foreground;
    border-radius: .5rem;
    min-height: 1rem;
    min-width: 12rem;
}

.time {
  font-size: 1.5rem;
  padding: .8rem 1.8rem;
}

.weather {
  padding: 1rem;
}

.clock, .uptime{
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  min-height: 3rem;
  min-width: 3rem;
}

.clock { background-image: url("./images/clock.svg"); }
.uptime { background-image: url("./images/uptime.svg"); }

.w-city { font-size: 1.4rem; }
.w-temp { font-size: 2.5rem; }
.w-desc { font-size: 1.3rem; }

.wq1,
.wq2 {
  font-size: 1rem;
  color: $base04;
}

.sun,
.star,
.sun_cloud,
.moon_cloud,
.cloud,
.cloud_broken,
.rain,
.thunderstorm,
.snow,
.mist {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
  min-height: 7rem;
  min-width: 7rem;
}
.sun { background-image: url("./images/sun.svg"); }
.star { background-image: url("./images/star.svg"); }
.sun_cloud { background-image: url("./images/sun_cloud.svg"); }
.moon_cloud { background-image: url("./images/moon_cloud.svg"); }
.cloud { background-image: url("./images/cloud.svg"); }
.cloud_broken { background-image: url("./images/cloud_broken.svg"); }
.rain { background-image: url("./images/rain.svg"); }
.thunderstorm { background-image: url("./images/thunderstorm.svg"); }
.snow { background-image: url("./images/snow.svg"); }
.mist { background-image: url("./images/mist.svg"); }

.shutdown, .reboot, .lock, .sleep, .logout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.5rem;
  min-height: 7rem;
  min-width: 7rem;
}

.shutdown { background-image: url("./images/shutdown.svg"); }
.reboot { background-image: url("./images/reboot.svg"); }
.lock { background-image: url("./images/lock.svg"); }
.sleep { background-image: url("./images/sleep.svg"); }
.logout { background-image: url("./images/logout.svg"); }
