@import '/home/mrtn/.config/eww/eww.scss';

* { all: unset; }

.profile,
.slider,
.time,
.weather,
.spotify,
.textfield,
.performance,
.files,
.button {
  color: $foreground;
  background-color: $background;
  border-radius: 1rem;
  border: .5px solid $base07;
  margin: .5rem;
}

.profile {
  padding-top: 2rem;
  min-width: 18rem;
  min-height: 24rem;
}

.profile-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11rem;
  min-width: 10rem;
  min-height: 10rem;
  background-image: $profile;
  border-radius: 11rem;
}

.profile-text {
  padding-top: 3rem;
  font-size: 3rem;
  color: $foreground;
}

.profile-subtext { font-size: 1.5rem; color: $base04; }

.hidden { opacity: 0; }
.slider { padding: 2rem; }

.speaker2-symbol,
.speaker1-symbol,
.speaker0-symbol,
.speakerx-symbol,
.mic-symbol,
.micx-symbol,
.brightness-symbol,
.hover-symbol {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8rem;
  min-width: 2rem;
  min-height: 1.8rem;
  margin-right: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.speaker2-symbol { background-image: url("./images/speaker2.svg"); }
.speaker1-symbol { background-image: url("./images/speaker1.svg"); }
.speaker0-symbol { background-image: url("./images/speaker0.svg"); }
.speakerx-symbol { background-image: url("./images/speakerx.svg"); }
.mic-symbol { background-image: url("./images/mic.svg"); }
.micx-symbol { background-image: url("./images/micx.svg"); }
.brightness-symbol { background-image: url("./images/brightness.svg"); }

.db-scale_mic trough highlight,
.db-scale_audio trough highlight,
.db-scale_blight trough highlight { border-radius: 1rem; }

.db-scale_mic trough highlight { background-color: $sliders; }
.db-scale_audio trough highlight { background-color: $sliders; }
.db-scale_blight trough highlight { background-color: $sliders; }

.db-scale_mic trough,
.db-scale_audio trough,
.db-scale_blight trough {
    background-color: $foreground;
    border-radius: .5rem;
    min-height: 1rem;
}

.files { padding: 1rem; }
.disk {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
  min-height: 5rem;
  min-width: 5rem;
  padding-bottom: 2rem;
  background-image: url("./images/disk.svg");
}


.time { padding: 1rem 1.5rem; }
.time-big, .disk-avail { font-size: 1.7rem; }
.time-small, .disk-size { font-size: 1.1rem; color: $base04; }

.textfield {
  padding: 1rem;
  font-size: 1.1rem;
  color: $base0D;
}
.textfield-author { color: $base04; }

.clock, .uptime{
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  min-height: 3rem;
  min-width: 3rem;
}

.clock { background-image: url("./images/clock.svg"); }
.uptime { background-image: url("./images/uptime.svg"); }

.weather { padding: 1rem 1.5rem; }
.w-city { font-size: 1.4rem; }
.w-temp { font-size: 2.5rem; }
.w-desc { font-size: 1.3rem; }

.wq1, .wq2 { font-size: 1.1rem; color: $base04; }

.sun,
.star,
.sun_cloud,
.moon_cloud,
.cloud,
.cloud_broken,
.rain,
.thunderstorm,
.snow,
.mist {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
  min-height: 7rem;
  min-width: 7rem;
}
.sun { background-image: url("./images/sun.svg"); }
.star { background-image: url("./images/star.svg"); }
.sun_cloud { background-image: url("./images/sun_cloud.svg"); }
.moon_cloud { background-image: url("./images/moon_cloud.svg"); }
.cloud { background-image: url("./images/cloud.svg"); }
.cloud_broken { background-image: url("./images/cloud_broken.svg"); }
.rain { background-image: url("./images/rain.svg"); }
.thunderstorm { background-image: url("./images/thunderstorm.svg"); }
.snow { background-image: url("./images/snow.svg"); }
.mist { background-image: url("./images/mist.svg"); }

.spotify { padding: 1rem; }
.title { font-size: 1.4rem; color: $base0A; }
.artist { font-size: 1.1rem; color: $base04; }

.prev, .pause, .play, .next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.prev { background-image: url("./images/prev.svg"); }
.pause { background-image: url("./images/pause.svg"); }
.play { background-image: url("./images/play.svg"); }
.next { background-image: url("./images/next.svg"); }

.spotify_art {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 6.8rem;
  min-height: 6.8rem;
  min-width: 6.8rem;
}

.performance { padding: 1.2rem 1.2rem 2rem 1.2rem; }
.perf-item { font-size: 1.4rem; color: $base05; }
.perf-text { font-size: 1.6rem; color: $base0E; }
.circ-prog { background-color: $base02; color: $base0E; }

.github, .bitbucket, .nixos, .outlook, .gmail, .trilium, .nextcloud, .xournalpp {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  min-height: 6.4rem;
  min-width: 6.4rem;
}

.github { background-image: url("./images/github.svg"); }
.bitbucket { background-image: url("./images/bitbucket.svg"); }
.nixos { background-image: url("./images/nixos.svg"); }
.outlook { background-image: url("./images/outlook.svg"); }
.gmail { background-image: url("./images/gmail.svg"); }
.trilium { background-image: url("./images/trilium.svg"); }
.nextcloud { background-image: url("./images/nextcloud.svg"); }
.xournalpp { background-image: url("./images/xournalpp.svg"); }

.shutdown, .reboot, .lock, .sleep, .logout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.5rem;
  min-height: 7rem;
  min-width: 7rem;
}

.shutdown { background-image: url("./images/shutdown.svg"); }
.reboot { background-image: url("./images/reboot.svg"); }
.lock { background-image: url("./images/lock.svg"); }
.sleep { background-image: url("./images/sleep.svg"); }
.logout { background-image: url("./images/logout.svg"); }
